.splash-screen {
  background-image: url("images/aidan-hancock-8RU4OuA6Yug-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 669px;
}

.gallery {
  margin: 0;
  padding: 0;
}
